<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S&P 500 Heatmap</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src='heatmap.js'></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        #heatmap {
            width: 90vw;
            height: 80vh;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1>S&P 500 Heatmap</h1>
    <div id="heatmap"></div>
</body>
</html>
